#a{
background-image: url(../images/bg1.jpg);
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
}
.sec1{
    align-items: center;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    text-transform: uppercase;
}
#p1{
    letter-spacing: 10px;
}
#p2{
    color: black;
    font-size: larger;
    font-weight: 200;
    font-size: 30px;
    letter-spacing: 20px;
}

#button1{
    background-color: transparent;
    color:  #6c757d;
    border-color:  #6c757d;
    text-transform: uppercase; 
    margin-right: 10px; 
    padding-inline: 20px;  
    border-radius: 0px;
    border-width: 1px;
}
#button2{
    background-color: transparent;
    color:  #6c757d;
    padding-inline: 20px;
    text-transform: uppercase;
    border-radius: 0px;
    border-width: 1px;
}
#b{
  padding: 50px;
  text-align: center;
  display: inline;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  font-size: 10px;
  letter-spacing: 2px;
}
.p22{
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 500;
}


.image{
   
    width: 20px; height: 20px;
}

#c{
    background-color:rgba(238, 237, 237, 0.986);
    padding: 60px;
    text-align: justify;
       
}
.p33{
    margin-top: 60px;
  text-transform: uppercase;
  font-size: larger;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 7px;  
}
.p34{
   font-size: 12px;
   letter-spacing: 2px;

}
#button3{

    background-color: transparent;
    color:  #6c757d;
    border-color:  #6c757d;
    text-transform: uppercase; 
   margin-top: 30px; 
    padding-inline: 20px;  
    border-radius: 0px;
    border-width: 1px;
}
#d{
    background-image: url(../images/bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
.images_h{
    width: 100%;
    height: 100%; 
}
#images{
    margin-top: 0px;
    padding: 50px;
    width: 100%;
    
    }
    #p44 {
        text-transform: uppercase;
        margin: 0 auto;
        text-align: center;
        
       }
    #p441{
        text-transform: uppercase;
        color: white;
        letter-spacing: 10px;
        display: inline-block;
        margin-top: 100px;
        padding-inline: 40px;
       
        
        
    }
    #e1{
        text-transform: uppercase;
        margin: 0 auto;
        display: inline-block;
        text-align: center;
        padding-inline: 40px;
        padding-top: 40px;
        
    }
    #ppe1{
        letter-spacing: 10px;

    }
    #ppe11{
        letter-spacing: 5px;
        font-size: 12px;
        font-weight: 600;
    }
    #grid{
    margin: 0 auto;
    }

    .images1{
        width: 100%;
        height: 100%;
        
                       
    }
    .clients{
        text-align: center;
        align-items: center;
        font-size: 15px;
        
        font-family: fantasy;
        
    }
    #clients_images{
       display: inline-flex;
       margin-bottom: 20px;
    }
    #p_clients1{
        letter-spacing: 5px;
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
    }
    #p_clients2{
        letter-spacing: 5px;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;

    }
    
#f{
    background-image: url(../images/bg4.jpg);
    background-size: cover;
    height: 100vh;
}
#card{
    opacity: 0.7;
    padding: 70px;
    margin-top: 70px;
    text-align: justify;
    align-items: center;
}
#button5{
    background-color: rgb(199, 197, 197);
    color: white;
    border-width: 0px;
    padding: 10px;
    padding-inline: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.card-body{
    padding: 100px;
    margin-top: 100px;

}
.card-title{
text-transform: uppercase;
font-size: 60px;
font-weight: 500;
letter-spacing: 10px;
}
.card-text{
font-size: 20px;
letter-spacing: 3px;
}
